DATABASE_URL=sqlite+aiosqlite:///./db.sqlite3
SECRET_KEY=5ZDUV0fsLPcp6MmN1E26buDu9-At7KvL9LZCakWFvKA
REDIS_URL=redis://redis:6379/0
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_user
SMTP_PASS=your_password